*.npz
*.npy
*.txt
*.dat
*.pkl
__pycache__/
!psds_exploration/data/azores_events.txt
data/
results/
.DS_Store
wandb/
checkpoints/
lightning_logs/
*.ckpt
!requirements.txt
*.egg-info/
PKG-info
dist/
specs/
!./data/resonance_finder.ckpt
download/
*.png
*.svg
*.mp4
*.csv
deprecated/
*.xml
*.ini